<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Home - RestApi MyFileArchive</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="../public/css/style-home.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
  <div class="one-half left">
    <h1>MyFileArchive</h1>
    <a href="https://myfilearchive.xyz/" class="cta">Login</a>
  </div>
  <div class="one-half right">
    <h1>RestApi - MyFileArchive</h1>
    <a href="/api" class="cta">Documentation</a>
  </div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='../public/js/script-home.js'></script>

</body>
</html>
